[submodule "embassy"]
	path = submodules/embassy
	url = https://github.com/nathdobson/embassy.git
[submodule "trouble"]
	path = submodules/trouble
	url = https://github.com/nathdobson/trouble.git
[submodule "rust-mqtt"]
	path = submodules/rust-mqtt
	url = https://github.com/nathdobson/rust-mqtt.git
[submodule "submodules/rust-unidecode"]
	path = submodules/rust-unidecode
	url = https://github.com/nathdobson/rust-unidecode.git
[submodule "submodules/unicode-normalization"]
	path = submodules/unicode-normalization
	url = https://github.com/nathdobson/unicode-normalization.git
[submodule "submodules/patina-rs"]
	path = submodules/patina-rs
	url = https://github.com/nathdobson/patina-rs.git
[submodule "submodules/serde-json-core"]
	path = submodules/serde-json-core
	url = https://github.com/nathdobson/serde-json-core.git
[submodule "submodules/bluest"]
	path = submodules/bluest
	url = https://github.com/nathdobson/bluest.git
[submodule "submodules/objc2"]
	path = submodules/objc2
	url = https://github.com/nathdobson/objc2.git
