[submodule "embassy"]
	path = submodules/embassy
	url = https://github.com/nathdobson/embassy.git
[submodule "trouble"]
	path = submodules/trouble
	url = https://github.com/nathdobson/trouble.git
[submodule "rust-mqtt"]
	path = submodules/rust-mqtt
	url = https://github.com/nathdobson/rust-mqtt.git
[submodule "submodules/rust-unidecode"]
	path = submodules/rust-unidecode
	url = https://github.com/nathdobson/rust-unidecode.git
[submodule "submodules/unicode-normalization"]
	path = submodules/unicode-normalization
	url = https://github.com/nathdobson/unicode-normalization.git
[submodule "submodules/patina-rs"]
	path = submodules/patina-rs
	url = https://github.com/nathdobson/patina-rs.git
[submodule "submodules/serde-json-core"]
	path = submodules/serde-json-core
	url = https://github.com/nathdobson/serde-json-core.git
[submodule "submodules/ring"]
	path = submodules/ring
	url = https://github.com/nathdobson/ring.git
[submodule "submodules/embedded-tls"]
	path = submodules/embedded-tls
	url = https://github.com/nathdobson/embedded-tls.git
[submodule "submodules/cyw43-firmware-rust"]
	path = submodules/cyw43-firmware-rust
	url = https://github.com/KizzyCode/cyw43-firmware-rust.git
[submodule "submodules/spindle"]
	path = submodules/spindle
	url = https://github.com/nathdobson/spindle.git
[submodule "submodules/rust_testing_logger"]
	path = submodules/rust_testing_logger
	url = https://github.com/nathdobson/rust_testing_logger.git
[submodule "submodules/heapless"]
	path = submodules/heapless
	url = https://github.com/nathdobson/heapless.git
[submodule "submodules/picoboot"]
	path = submodules/picoboot
	url = https://github.com/nathdobson/picoboot.git
[submodule "submodules/nusb"]
	path = submodules/nusb
	url = https://github.com/nathdobson/nusb.git
	branch = task/webusb-rebased
[submodule "submodules/btleplug"]
	path = submodules/btleplug
	url = https://github.com/nathdobson/btleplug.git
[submodule "submodules/wasm-bindgen"]
	path = submodules/wasm-bindgen
	url = https://github.com/nathdobson/wasm-bindgen.git
[submodule "submodules/webpki"]
	path = submodules/webpki
	url = https://github.com/nathdobson/webpki.git
[submodule "submodules/RSA"]
	path = submodules/RSA
	url = https://github.com/nathdobson/RSA.git
[submodule "submodules/bt-hci"]
	path = submodules/bt-hci
	url = https://github.com/nathdobson/bt-hci.git
