[submodule "embassy"]
	path = submodules/embassy
	url = https://github.com/nathdobson/embassy.git
[submodule "trouble"]
	path = submodules/trouble
	url = https://github.com/nathdobson/trouble.git
[submodule "submodules/rust-unidecode"]
	path = submodules/rust-unidecode
	url = https://github.com/nathdobson/rust-unidecode.git
[submodule "submodules/unicode-normalization"]
	path = submodules/unicode-normalization
	url = https://github.com/nathdobson/unicode-normalization.git
[submodule "submodules/patina-rs"]
	path = submodules/patina-rs
	url = https://github.com/nathdobson/patina-rs.git
[submodule "submodules/serde-json-core"]
	path = submodules/serde-json-core
	url = https://github.com/nathdobson/serde-json-core.git
[submodule "submodules/embedded-tls"]
	path = submodules/embedded-tls
	url = https://github.com/nathdobson/embedded-tls.git
[submodule "submodules/spindle"]
	path = submodules/spindle
	url = https://github.com/nathdobson/spindle.git
[submodule "submodules/rust_testing_logger"]
	path = submodules/rust_testing_logger
	url = https://github.com/nathdobson/rust_testing_logger.git
[submodule "submodules/heapless"]
	path = submodules/heapless
	url = https://github.com/nathdobson/heapless.git
[submodule "submodules/picoboot"]
	path = submodules/picoboot
	url = https://github.com/nathdobson/picoboot.git
[submodule "submodules/nusb"]
	path = submodules/nusb
	url = https://github.com/nathdobson/nusb.git
	branch = task/webusb-rebased
[submodule "submodules/btleplug"]
	path = submodules/btleplug
	url = https://github.com/nathdobson/btleplug.git
[submodule "submodules/wasm-bindgen"]
	path = submodules/wasm-bindgen
	url = https://github.com/nathdobson/wasm-bindgen.git
[submodule "submodules/RSA"]
	path = submodules/RSA
	url = https://github.com/nathdobson/RSA.git
[submodule "submodules/bt-hci"]
	path = submodules/bt-hci
	url = https://github.com/nathdobson/bt-hci.git
[submodule "submodules/ws_stream_wasm"]
	path = submodules/ws_stream_wasm
	url = https://github.com/nathdobson/ws_stream_wasm.git
[submodule "submodules/console_error_panic_hook"]
	path = submodules/console_error_panic_hook
	url = https://github.com/nathdobson/console_error_panic_hook.git
[submodule "submodules/uuid"]
	path = submodules/uuid
	url = https://github.com/nathdobson/uuid.git
[submodule "submodules/bluez-async"]
	path = submodules/bluez-async
	url = https://github.com/nathdobson/bluez-async.git
[submodule "submodules/console_log"]
	path = submodules/console_log
	url = https://github.com/nathdobson/console_log.git
[submodule "submodules/btuuid"]
	path = submodules/btuuid
	url = https://github.com/nathdobson/btuuid.git
[submodule "submodules/rp-pac"]
	path = submodules/rp-pac
	url = https://github.com/nathdobson/rp-pac.git
[submodule "submodules/smoltcp"]
	path = submodules/smoltcp
	url = https://github.com/nathdobson/smoltcp.git
[submodule "submodules/elliptic-curves"]
	path = submodules/elliptic-curves
	url = https://github.com/nathdobson/elliptic-curves.git
[submodule "submodules/utils"]
	path = submodules/utils
	url = https://github.com/nathdobson/utils.git
[submodule "submodules/MACs"]
	path = submodules/MACs
	url = https://github.com/nathdobson/MACs.git
[submodule "submodules/KDFs"]
	path = submodules/KDFs
	url = https://github.com/nathdobson/KDFs.git
[submodule "submodules/hashes"]
	path = submodules/hashes
	url = https://github.com/nathdobson/hashes.git
[submodule "submodules/AEADs"]
	path = submodules/AEADs
	url = https://github.com/nathdobson/AEADs.git
[submodule "submodules/block-ciphers"]
	path = submodules/block-ciphers
	url = https://github.com/nathdobson/block-ciphers.git
[submodule "submodules/block-modes"]
	path = submodules/block-modes
	url = https://github.com/nathdobson/block-modes.git
[submodule "submodules/signatures"]
	path = submodules/signatures
	url = https://github.com/nathdobson/signatures.git
[submodule "submodules/traits-digest"]
	path = submodules/traits-digest
	url = https://github.com/nathdobson/traits.git
[submodule "submodules/traits-crypto-common"]
	path = submodules/traits-crypto-common
	url = https://github.com/nathdobson/traits.git
[submodule "submodules/traits-signature"]
	path = submodules/traits-signature
	url = https://github.com/nathdobson/traits.git
[submodule "submodules/traits-elliptic-curve"]
	path = submodules/traits-elliptic-curve
	url = https://github.com/nathdobson/traits.git
[submodule "submodules/traits-aead"]
	path = submodules/traits-aead
	url = https://github.com/nathdobson/traits.git
[submodule "submodules/traits-cipher"]
	path = submodules/traits-cipher
	url = https://github.com/nathdobson/traits.git
[submodule "submodules/universal-hashes"]
	path = submodules/universal-hashes
	url = https://github.com/nathdobson/universal-hashes.git
[submodule "submodules/traits-universal-hash"]
	path = submodules/traits-universal-hash
	url = https://github.com/nathdobson/traits.git
[submodule "submodules/formats-der"]
	path = submodules/formats-der
	url = https://github.com/nathdobson/formats.git
[submodule "submodules/formats-pkcs1"]
	path = submodules/formats-pkcs1
	url = https://github.com/nathdobson/formats.git
[submodule "submodules/formats-pkcs8"]
	path = submodules/formats-pkcs8
	url = https://github.com/nathdobson/formats.git
[submodule "submodules/formats-spki"]
	path = submodules/formats-spki
	url = https://github.com/nathdobson/formats.git
