.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings-form{
    border-style: solid;
    border-width: 0.4vw;
}

.display {
    width: 95vw;
    height: 17vw;
    padding: 1vw;
    margin: 0;
}

.display:not(:has(:nth-child(11))){
    display:flex;
    flex-flow: row;
    justify-content: center;
}

.display:has(:nth-child(11)) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
}

.letter-outer{
    aspect-ratio: 1/2;
    display:flex;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
    outline-style:inset;
    outline-width: 6px;
    margin: 6px;
}


.letter-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace, monospace;
    font-size: 100cqw;
    width: 80%;
    height: 90%;
}

.content-form {
    display:flex;
    width:90%;
    margin:1vw;
}

.content-form input[type=text] {
    width:100%;
    margin:1vw;
    font-size: 6vw;
    font-family: monospace, monospace;
}

.content-form input[type=submit] {
    margin:1vw;
}

.mqtt-form {
    display:grid;
    grid-template-columns: max-content 1fr;
    grid-gap:5px;
    text-align: center;
    width:calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.mqtt-form label {
    text-align:right;
}

.mqtt-form label:after {
    content: ":";
}

.status{
    height:10vw
}

.tab-header {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

}

.tab-header li {
    margin: 0;
    padding: 0;
}

.tab-header a {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    transition: color 0.2s ease;
    color: #fff;
    padding: 10px 10px;
    background-color: #222;
}

.tab-header a:hover {
    background-color: #444;
}

.tab-header a.active {
    background-color: #666;
}

.connect-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}